<div class="wc-container">
    <div>
        <div class="container register">
            <h1>S'enregistrer</h1>
            <p>Remplissez ces informations afin de vous enregistrer.</p>
            <hr>

            <div id="already_exist" style="display:none" name="form_err">Cette adresse mail est déjà utilisée</div>

            <label for="pseudo"><b>Pseudo</b></label>
            <input type="text" placeholder="Votre pseudo" name="pseudo">
            <div id="pseudo_empty" style="display:none" name="form_err">Rentrez votre pseudo</div>
            <div id="pseudo_err" style="display:none" name="form_err">Votre pseudo ne peut contenir que des lettres</div>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Votre adresse mail" name="email">
            <div id="email_empty" style="display:none" name="form_err">Rentrez votre adresse mail</div>
            <div id="email_err" style="display:none" name="form_err">Adresse mail non valide</div>
            <div id="email_dif" style="display:none" name="form_err">Les adresses mail ne correspondent pas</div>

            <label for="email-repeat"><b>Confirmer Email</b></label>
            <input type="text" placeholder="Confirmez votre adresse mail" name="email-repeat">
            <div id="email-r_empty" style="display:none" name="form_err">Confirmez votre adresse mail</div>

            <label for="psw"><b>Mot de passe</b></label>
            <input type="password" placeholder="Votre mot de passe" name="psw">
            <div id="psw_empty" style="display:none" name="form_err">Rentrez votre mot de passe</div>
            <div id="psw_err" style="display:none" name="form_err">Votre mot de passe doit contenir au moins une majuscule, une minuscule et un chiffre</div>
            <div id="psw_dif" style="display:none" name="form_err">Les mots de passe ne correspondent pas</div>
            <div id="psw_size_min" style="display:none" name="form_err">Votre mot de passe doit faire au moins 7 caractères</div>
            <div id="psw_size_max" style="display:none" name="form_err">Votre mot de passe doit faire moins 20 caractères</div>

            <label for="psw-repeat"><b>Confirmer mot de passe</b></label>
            <input type="password" placeholder="Confirmez votre mot de passe" name="psw-repeat">
            <div id="psw-r_empty" style="display:none" name="form_err">Confirmez votre mot de passe</div>
            <hr>

            <!--<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>-->
            <button class="registerbtn">S'enregistrer</button>
        </div>

        <div class="container signin">
            <p>Vous possédez déjà un compte ? <a class="connectBtn">Se connecter</a>.</p>
        </div>
    </div>
</div>

<style>
    * {box-sizing: border-box}

    /* Add padding to containers */
    .container {
        padding: 16px;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit/register button */
    .registerbtn {
        background-color: #28ccfb;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity:1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }

    div[name="form_err"] {
        padding-bottom: 15px;
        color: red;
    }
</style>