<div class="footer">
    <a class="item" href="#">Contactez nous</a>
    <a class="item" href="#"><img class="logo" src="../../../public/logo.png"></a>
    <a class="item" href="http://semapps.virtual-assembly.org/rechercher">Où nous retrouver ?</a>
</div>

<style>
.footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #F5F5F5;
}

.logo {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 50px;
}

.item {
    color: black;
    text-align: center;
    text-decoration: none;
}
</style>