<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <script src="./<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">

</head>
<body>
    <div id="header"><header-wc></header-wc></div>
    <div id="middle"></div>
    <div id="footer"><footer-wc></footer-wc></div>
</body>
</html>